<!-- 検索フォーム -->
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q, url: boards_search_path %> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center mb-5">
    <h2 style="font-weight: 100;">最 新 の 投 稿</h2>
  </div>
</div>

<!-- 1つ目のビュー（画像表示） -->
<% if @boards.present? %>
  <div class="user-posts mt-5">
    <div class="image-container2 d-flex flex-wrap justify-content-center">
      <% @boards.each do |board| %>
        <div class="image-item2">
          <%= link_to board_path(board) do %>
            <% if board.board_image.content_type.starts_with?('image/') %>
              <%= image_tag "#{request.base_url}#{board.board_image.url}", class: 'img-fluid' %>
            <% elsif board.board_image.content_type.starts_with?('video/') %>
              <%= video_tag("#{request.base_url}#{board.board_image.url}", controls: true, class: 'img-fluid', style: 'height: 200px; width: auto; max-width: 100%; object-fit: contain; display: block; margin: 0; padding: 0;') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<!-- 掲示板一覧 -->
<div class="row index-row" style="padding-bottom: 50px;">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="row">
      <% if @boards.present? %>
        <%= render @boards %>
      <% else %>
        <div class="mb-3">投稿がありません</div>
      <% end %>
      <%= paginate @boards %>
    </div>
  </div>
</div>
