<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <!-- ユーザー情報 -->
      <div class="user-info">
        <div class="d-flex align-items-center">
          <!-- アバター画像 -->
          <%= image_tag current_user.avatar.url, class: 'rounded-circle avatar_size', size: '120x120' %>
          <!-- ユーザーネーム -->
          <h1 class="user-name">
            <%= current_user.user_name %>
            <!-- 編集リンク -->
            <%= link_to edit_profile_path do %>
              <%= image_tag 'edit.png', alt: 'Edit', size: '20x20', class: 'ml-2' %>
            <% end %>
          </h1>
        </div>
        <!-- 自己紹介文 -->
        <p class="user-bio mt-3 text-center" style="max-width: 600px; max-height: 200px; overflow: hidden; margin-left: auto; margin-right: auto;">
            <%= current_user.bio %>
        </p>
      </div>

      <!-- ユーザーの投稿した画像を並べる -->
      <div class="user-posts" style="padding-bottom: 50px; margin-top: -50px;">
        <h2 style="line-height: 1; font-weight: 300; text-align: center; margin-bottom: 40px;">
          <%= "#{@user.user_name}さんの投稿一覧" %>
        </h2>
        <% if @boards.any? %>
        <div class="image-container2 d-flex flex-wrap justify-content-center">
          <% @boards.each do |board| %>
            <div class="image-item2">
              <%= link_to board_path(board) do %>
                <%= board.board_image.content_type.starts_with?('image/') ? 
              image_tag(board.board_image.url, class: 'img-fluid') : 
              video_tag(board.board_image.url, controls: true, class: 'img-fluid', style: 'height: 200px; width: auto; max-width: 100%; object-fit: contain; display: block; margin: 0; padding: 0;') %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% else %>
          <p style="text-align: center; color: #888; font-size: 18px; margin-top: 100px;">まだ投稿はありません</p>
        <% end %>
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>
