<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <!-- ユーザー情報 -->
      <div class="user-info">
        <div class="d-flex align-items-center">
          <!-- アバター画像 -->
          <%= image_tag @user.avatar_url, class: 'rounded-circle', size: '120x120' %>
          <!-- ユーザーネーム -->
          <h1 class="user-name">
            <%= @user.user_name %>
            <!-- 編集リンク -->
            <% if @user == current_user %>  
              <%= link_to edit_profile_path do %>
                <%= image_tag 'edit.png', alt: 'Edit', size: '20x20', class: 'ml-2' %>
              <% end %>
            <% end %>
          </h1>
        </div>
        <!-- 自己紹介文 -->
        <p class="user-bio mt-3 text-center">
          <%= @user.bio %>
        </p>
      </div>

      <!-- ユーザーの投稿した画像を並べる -->
      <div class="user-posts mt-5">
        <h2 style="line-height: 1; font-weight: 300; text-align: center; margin-bottom: 40px;">
          <%= "#{@user.user_name}さんの投稿一覧" %>
        </h2>
        <div class="image-container2 d-flex flex-wrap justify-content-center">
          <% @user.boards.order(created_at: :desc).each do |board| %> 
            <div class="image-item2">
              <%= link_to board_path(board) do %>
                <%= image_tag board.board_image.url, class: 'img-fluid' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
