<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center" style="font-size: 24px; font-weight: 330; margin-bottom: 40px;">投稿の編集</h1>

      <%= form_with model: @board, class: "edit_board" do |f| %>
        
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2">
            <span class="required-label">必須</span>
            <%= f.label :title, "タ イ ト ル", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2 col-md-2">
            <span class="required-label">必須</span>
            <%= f.label :camera_make, "カメラの詳細", class: "migi", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8 col-md-8">
            <div class="row">
              <div class="col-sm-6">
                <%= f.select :camera_make, 
                  [["Canon", "Canon"], ["Nikon", "Nikon"], ["Sony", "Sony"], ["Panasonic", "Panasonic"], 
                   ["Olympus", "Olympus"], ["Fujifilm", "Fujifilm"], ["Ricoh", "Ricoh"], ["Casio", "Casio"], 
                   ["Leica", "Leica"], ["Yashica", "Yashica"], ["Konica", "Konica"], ["Minolta", "Minolta"],
                   ["不明", "不明"], ["その他", "その他"]],
                  { prompt: "メーカーを選択してください", selected: @board.camera_make }, 
                  class: "form-control", id: "camera_make_select" %>
              </div>

              <div class="col-sm-6">
                <%= f.text_field :camera_model, class: "form-control", id: "camera_model_input", placeholder: "機種", autocomplete: "off", value: @board.camera_model %>
                <ul id="camera_model_suggestions" class="camera_model_suggestions"></ul>
              </div>
            </div>

            <div id="custom_make_input" class="col-sm-6" style="display: <%= @board.camera_make == 'その他' ? 'block' : 'none' %>; margin-top: 10px;">
              <%= f.text_field :custom_camera_make, placeholder: "メーカー名を入力してください", class: "form-control", id: "custom_camera_make", value: @board.custom_camera_make %>
            </div>
          </div>
        </div>

        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2">
            <span class="required-label">必須</span>
            <%= f.label :board_image_url, "写 真 ・ 動 画", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.file_field :board_image_url, class: "form-control", accept: 'image/*,video/*', id: "board_image_url_input" %>
            <div id="error-message" style="color: red;"></div>
            <% if @board.board_image_url.present? %>
              <div id="existing-preview">
                <p>現在の画像:</p>
                <% if @board.board_image_url.ends_with?('.jpg', '.jpeg', '.png', '.gif') %>
                  <%= image_tag @board.board_image_url, class: 'img-fluid' %>
                <% elsif @board.board_image_url.ends_with?('.mp4', '.webm', '.mov') %>
                  <%= video_tag @board.board_image_url, controls: true, class: 'img-fluid', style: 'max-width: 100%; height: auto;' %>
                <% end %>
              </div>
            <% end %>

            <div id="preview"></div>
          </div>
        </div>

        <div class="mb-5 row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :body, "感 想", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :body, class: "form-control", rows: "4" %>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col text-center mb-4">
            <%= f.submit "更新", class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>      
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const cameraMakeSelect = document.getElementById('camera_make_select');
  const customMakeInput = document.getElementById('custom_make_input');

  cameraMakeSelect.addEventListener('change', function() {
    customMakeInput.style.display = cameraMakeSelect.value === 'その他' ? 'block' : 'none';
  });

  if (cameraMakeSelect.value === 'その他') {
    customMakeInput.style.display = 'block';
  }

  const fileInput = document.getElementById("board_image_url");
  const previewContainer = document.getElementById("preview");
  const maxResolution = 17000000; 

  fileInput.addEventListener("change", function (event) {
    const files = event.target.files;
    previewContainer.innerHTML = ""; 

    if (files.length > 0) {
      const file = files[0];
      const reader = new FileReader();
      
      reader.onload = function (e) {
        const fileUrl = e.target.result;
        const img = new Image();

        img.onload = function () {
          const resolution = img.width * img.height;
          
          if (resolution > maxResolution) {
            alert("画像の解像度が1700万画素を超えています。別の画像を選択してください。");
            fileInput.value = ""; 
            previewContainer.innerHTML = ""; 
          } else {
            // 解像度が問題なければプレビューを表示
            const previewElement = document.createElement("img");
            previewElement.src = fileUrl;
            previewElement.classList.add("img-fluid");
            previewContainer.appendChild(previewElement); 
          }
        };

        img.src = fileUrl;
      };

      reader.readAsDataURL(file); 
    }
  });

  const cameraModels = [
    'T4', 'DiMAGE X1', 'DiMAGE 7i', 'XA', 'GR1v', 'S95', 'P7000', 'DMC-LX100', 'Stylus 1', 'GR Digital IV',
    'EX-ZR1000', 'A620', 'DiMAGE Xt', 'DSC-T10', 'A590 IS', 'DSC-W70', 'DiMAGE 5', 'SD700 IS', 'DSC-T50',
    '5900', 'G5', '5700', 'DiMAGE A1', 'S230', 'DiMAGE Z3', 'G6', 'DiMAGE Z1', 'SD400', 'DSC-T1', 'A520',
    '8800', 'DiMAGE Z5', 'S3 IS', 'DSC-W50', 'A75', '7900', 'A550', 'DiMAGE 7', 'FinePix F30', 'PowerShot G7',
    'Coolpix P500', 'Cyber-shot DSC-H5'
  ];

  const sortedCameraModels = cameraModels.sort();

  document.getElementById('camera_model_input').addEventListener('input', function(event) {
    const inputValue = event.target.value.toLowerCase();
    const suggestionsList = document.getElementById('camera_model_suggestions');
    suggestionsList.innerHTML = ''; 
    if (inputValue) {
      const filteredModels = sortedCameraModels.filter(model => model.toLowerCase().includes(inputValue));

      filteredModels.forEach(model => {
        const listItem = document.createElement('li');
        listItem.textContent = model;
        listItem.classList.add('suggestion-item');
        listItem.addEventListener('click', function() {
          document.getElementById('camera_model_input').value = model;
          suggestionsList.innerHTML = ''; 
        });
        suggestionsList.appendChild(listItem);
      });

      const unknownOption = document.createElement('li');
      unknownOption.textContent = '不明';
      unknownOption.classList.add('suggestion-item');
      unknownOption.addEventListener('click', function() {
        document.getElementById('camera_model_input').value = '不明';
      });
      suggestionsList.appendChild(unknownOption);
    }
  });

  document.getElementById('camera_model_input').addEventListener('focus', function() {
    const suggestionsList = document.getElementById('camera_model_suggestions');
    const unknownOption = document.createElement('li');
    unknownOption.textContent = '不明';

    if (![...suggestionsList.children].some(child => child.textContent === '不明')) {
      unknownOption.classList.add('suggestion-item');
      unknownOption.addEventListener('click', function() {
        document.getElementById('camera_model_input').value = '不明';
      });
      suggestionsList.appendChild(unknownOption);
    }
  });
});

</script>
