<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center" style="font-size: 24px; font-weight: 330; margin-bottom: 40px;">投稿の編集</h1>

      <%= form_with model: @board, class: "edit_board" do |f| %>
        
        <!-- タイトル -->
        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2">
            <span class="required-label">必須</span>
            <%= f.label :title, "タ イ ト ル", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control" %>
          </div>
        </div>

        <!-- カメラの詳細 -->
        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2 col-md-2">
            <span class="required-label">必須</span>
            <%= f.label :camera_details, "カメラの詳細", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8 col-md-8">
            <div class="row">
              <div class="col-sm-6">
                <%= f.text_field :camera_make, class: "form-control", placeholder: "メーカー" %>
              </div>
              <div class="col-sm-6">
                <%= f.text_field :camera_model, class: "form-control", placeholder: "機種" %>
              </div>
            </div>
          </div>
        </div>

        <!-- 画像 -->
        <div class="mb-5 row justify-content-center position-relative">
          <div class="col-sm-2">
            <span class="required-label">必須</span>
            <%= f.label :board_image, "写 真 ・ 動 画", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.file_field :board_image, class: "form-control", accept: 'image/*,video/*' %>
            <div id="error-message" style="color: red;"></div>
            <% if @board.errors[:board_image].any? %>
              <div class="text-danger"><%= @board.errors[:board_image].join(", ") %></div>
            <% end %>

            <!-- 既存の画像を表示 -->
            <% if @board.board_image.present? %>
              <p>現在の画像:</p>
              <%= image_tag @board.board_image.url, class: 'img-fluid' %>
            <% end %>
          </div>
        </div>

        <!-- 感想 -->
        <div class="mb-5 row justify-content-center">
          <div class="col-sm-2">
            <%= f.label :body, "感 想", class: "form-label", style: "font-size: 17px; font-weight: 300;" %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :body, class: "form-control", rows: "4" %>
          </div>
        </div>

        <!-- 投稿ボタン -->
        <div class="row mt-5">
          <div class="col text-center mb-4">
            <%= f.submit "更新", class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>      
    </div>
  </div>
</div>

